<style>
  .card {
    margin-top: 8%;
    margin-left: 8%;
  }
</style>

<div class="row" style="margin-top:80px;">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">BANGALORE</h5>
      <h6 class="card-subtitle mb-2 text-body-secondary">Contact: +91 1234567890</h6>
      <p class="card-text">E Mail: bangalore@parkview.com</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">CHENNAI</h5>
      <h6 class="card-subtitle mb-2 text-body-secondary">Contact: +91 1234567890</h6>
      <p class="card-text">E Mail: chennai@parkview.com</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">DELHI</h5>
      <h6 class="card-subtitle mb-2 text-body-secondary">Contact: +91 1234567890</h6>
      <p class="card-text">E Mail: delhi@parkview.com</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">MUMBAI</h5>
      <h6 class="card-subtitle mb-2 text-body-secondary">Contact: +91 1234567890</h6>
      <p class="card-text">E Mail: mumbai@parkview.com</p>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">PUNE</h5>
      <h6 class="card-subtitle mb-2 text-body-secondary">Contact: +91 1234567890</h6>
      <p class="card-text">E Mail: pune@parkview.com</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">GOA</h5>
      <h6 class="card-subtitle mb-2 text-body-secondary">Contact: +91 1234567890</h6>
      <p class="card-text">E Mail: goa@parkview.com</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">UDAIPUR</h5>
      <h6 class="card-subtitle mb-2 text-body-secondary">Contact: +91 1234567890</h6>
      <p class="card-text">E Mail: udaipur@parkview.com</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">HYDERABAD</h5>
      <h6 class="card-subtitle mb-2 text-body-secondary">Contact: +91 1234567890</h6>
      <p class="card-text">E Mail: hyderabad@parkview.com</p>
    </div>
  </div>
</div>
